nav {
    height: 70px;
    line-height: 70px;
    background-color: #2c3e50;
}


nav li {
    display: inline-block;
}



header {
    background-color: #1abc9c;
    text-align: center;
}

.jumbotron {
    background-color: #1abc9c;
}

.jumbotron img {
    height: 240px;
}

.row {
    /* da cancellare */


}

[class^="col-"] {
    height: 100%;
}

.gallery .col-lg-4 {
    padding-bottom: 50px;
}

.gallery .col-lg-4 img {
    width: 332px;
    border-radius: 10px;
}

section.about {
    background-color: #1abc9c;
}

footer {
    background-color: #2c3e50;
}

.copyright {
    background-color: #1a252f;
}
